<div class="jumbotron">
  <h1 class="display-4"><b>Southwest Auto Checkin</b></h1>
  <p class="lead">
    A simple application that checks you into a future Southwest flight.
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-10">
      <div>
        <h2><b>New Reservation</b></h2>
        <p>
          Enter your reservation information to check-in. Phone / email fields are for Southwest to send a confirmation.
        </p>
      </div>

      <div *ngIf="errorsSend != undefined && errorsSend.length > 0" ngClass="error-text">
        <div *ngFor="let err of errorsSend">
          <b>{{err}}</b>
        </div>
      </div>
      <br *ngIf="errorsSend != undefined && errorsSend.length > 0"/>

      <form [formGroup]="checkinSendForm" (ngSubmit)="onSubmitCheckin()">
        <!-- Confirmation -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Confirmation #</span>
          </div>
          <input formControlName="confirmation" class="form-control" placeholder="AXESSF" id="confirmation"
                 name="confirmation" type="text"/>
        </div>

        <!-- First name -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">First Name</span>
          </div>
          <input formControlName="firstName" class="form-control" placeholder="Johnny" id="first-name" name="firstName"
                 type="text"/>
        </div>

        <!-- Last name -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Last Name</span>
          </div>
          <input formControlName="lastName" class="form-control" placeholder="Appleseed" id="last-name"
                 name="confirmation" type="text"/>
        </div>

        <!-- Email -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email (optional)</span>
          </div>
          <input formControlName="email" class="form-control" placeholder="aafdasfds@gmail.com" id="email"
                 name="confirmation" type="email"/>
        </div>

        <!-- Phone -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Phone (optional)</span>
          </div>
          <input formControlName="phone" class="form-control" placeholder="7024583345" id="phone" name="phone"
                 type="text"/>
        </div>

        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>

      <div *ngIf="sendCheckinResponse != undefined">
        {{ JSON.stringify(sendCheckinResponse, null, "  ") }}
      </div>
    </div>

    <div class="col-md-6 col-sm-10">
      <div>
        <h2><b>Check Reservation</b></h2>
        <p>
          Check the status of a reservation / delete future check-in.
        </p>
      </div>

      <div *ngIf="errorsGet != undefined && errorsGet.length > 0" ngClass="error-text">
        <div *ngFor="let err of errorsGet">
          <b>{{err}}</b>
        </div>
      </div>
      <br *ngIf="errorsGet != undefined && errorsGet.length > 0"/>

      <form [formGroup]="checkinGetForm" (ngSubmit)="getCheckin()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Confirmation #</span>
          </div>
          <input formControlName="confirmation" class="form-control" placeholder="AXESSF" id="check-reservation"
                 name="checkReservation" type="text"/>

        </div>

        <button type="submit" class="btn btn-primary">
          Submit
        </button>


        <div *ngIf="getCheckinResponse != undefined">
          {{ JSON.stringify(getCheckinResponse, null, "  ") }}
        </div>
      </form>
    </div>
  </div>
</div>
